@model AppLoginCore.Models.Cliente
@{
    ViewData["Title"] = "Login";
}

<main role="main">
    <br />
    <br />
    <section class="container">
        <aside class="col-sm-4">
            <h3 class="subtitle-doc">Login</h3>
        </aside>
        <div id="code_login_1">
            div class ="card"
        </div>
    </section>
</main>